streamlit

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai

pypdf

sentence-transformers
torch
torchvision
transformers

numpy

chromadb==0.5.5

groq

python-dotenv

openai

protobuf==3.20.3