streamlit

# LangChain
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
google-generativeai

# PDF
pypdf

# Embeddings
sentence-transformers
torch
torchvision
transformers

# Vector store
chromadb==0.5.5

# Utils
numpy
python-dotenv
protobuf==3.20.3